code {
    color: #e83e8c;
}

.index-card:nth-child(even) .index-img {
    order: 2;
   }

/* 深色模式下的样式 */
/* @media (prefers-color-scheme: dark) {
    code.origin {
        color: aliceblue;
    }    
} */
  
  /* 浅色模式下的样式 */
/* @media (prefers-color-scheme: light) {
    code.origin {
        color: #3c4858;
    }    
}   */

